<appSettings>
  <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
  <add key="AutoApproveSites" value="true" />
  <add key="ClientId" value="799ed004-64cb-4167-b4f7-650d9a2f5d01" />
  <add key="ClientSecret" value="WpozlhKAhm4nnGDuqCJm8btinD/t8TnTThjpDcMaafM=" />
  <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <add key="SPHost" value="https://chrisobriensp.sharepoint.com" />
  <add key="SupportTeamNotificationEmail" value="chris.obrien@contentandcode.com" />
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <add key="TenantAdminUrl" value="https://chrisobriensp-admin.sharepoint.com" />
  <!--OVERRIDE FOR HOST NAME-->
  <add key="HostedAppHostNameOverride" value="cob-pnp-provisioning.azurewebsites.net " />
  <!---EMAIL SETTINGS-->
  <add key="SupportTeamNotificationEmail" value="chris.obrien@contentandcode.com" />
  <add key="EmailNewSiteTemplate" value="/site/wwwroot/Resources/EmailContent/NewSiteEmail.html" />
  <add key="EmailFailureSiteTemplate" value="/site/wwwroot/Resources/EmailContent/FailEmail.html" />
</appSettings>
