<modulesSection>
  <Modules>
    <!-- <Module name="RepositoryManager" type="Provisioning.Common.Data.SiteRequests.Impl.SPSiteRequestManager, Provisioning.Common" 
              connectionString="AccountEndpoint=https://cob.documents.azure.com:443/;AccountKey=UGKcMahRIH6yfNwXfCCwy+0sW0F//gQmPzZRR+DXUfBLq2Gd7ouJaOAoel/cmn1QhC8UvjDrx2iIUwy93MTVAg==;"  
              container="COBSiteRequests" /> -->
    <!--IF RUNNING IN AZURE ADD [WEBROOT_PATH]/Resources/SiteTemplates/" TO CONNECTIONSTRING-->
    <!--<Module name="MasterTemplateProvider" type="Provisioning.Common.Data.Templates.Impl.XMLSiteTemplateManager, Provisioning.Common" 
              connectionString="http://cob-pnp-provisioning.azurewebsites.net/Resources/SiteTemplates/" container="" /> -->

    <!-- COB - switched to use non-Azure DB approach, with XML file published to Azure web app.. -->
    <Module name="RepositoryManager"
            type="Provisioning.Common.Data.SiteRequests.Impl.SPSiteRequestManager, Provisioning.Common"
            connectionString=""
            container="" />
    <Module name="MasterTemplateProvider"
            type="Provisioning.Common.Data.Templates.Impl.XMLSiteTemplateManager, Provisioning.Common"
            connectionString="/site/wwwroot/Resources/SiteTemplates/"
            container="" />

    <!--USED TO RETURN THE XML PROVIDERS-->
    <!--PROVISIONING & PROVIDER FOR RUNNING IN ONPREM-->
    <Module name="ProvisioningProviders"
            type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLFileSystemTemplateProvider, OfficeDevPnP.Core"
            connectionString="/site/wwwroot/Resources/SiteTemplates/ProvisioningTemplates/"
            container="" />
    <Module name="ProvisioningConnectors"
            type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.FileSystemConnector, OfficeDevPnP.Core"
            connectionString="\home\site\wwwroot\Resources\"
            container="SiteTemplates\ProvisioningTemplates\" />
    <!--AZURE CONNECTOR USED FOR STORING ASSESTS IN A BLOB-->
    <!--<Module name="ProvisioningConnectors"
              type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.AzureStorageConnector, OfficeDevPnP.Core"
              connectionString=""
              container="assests\Resources\SiteTemplates\ProvisioningTemplates"/>
        <Module name="XMLTemplateProviders"
            type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLAzureStorageTemplateProvider, OfficeDevPnP.Core"
            connectionString=""
            container="assests\Resources\SiteTemplates\ProvisioningTemplates"/>-->
  </Modules>
</modulesSection>
