<appSettings>
    <!--USED FOR TESTING -->
    <add key="ENVRTEST1" value="[ALLUSERSPROFILE]/Resources/SiteTemplate" />
    <add key="ENVRTEST2" value="Resources/SiteTemplate" />
    <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
    <add key="AutoApproveSites" value="true" />
    <add key="ClientId" value="6bc82cf0-1c1c-4a25-82ef-fde4ddd79415" />
    <add key="ClientSecret" value="WpozlhKAhm4nnGDuqCJm8btinD/t8TnTThjpDcMaafM="/>
    <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <add key="SPHost" value="https://chrisobriensp.sharepoint.com" />
  <add key="SupportTeamNotificationEmail" value="chris.obrien@contentandcode.com" />
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <add key="TenantAdminUrl" value="https://chrisobriensp-admin.sharepoint.com" />
</appSettings>
