<appSettings>
    <!--USED FOR TESTING -->
    <add key="ENVRTEST1" value="[ALLUSERSPROFILE]/Resources/SiteTemplate" />
    <add key="ENVRTEST2" value="Resources/SiteTemplate" />
    <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
    <add key="AutoApproveSites" value="true" />
    <add key="ClientId" value="74d26cd7-cdbe-4a9d-929a-5c87bd2b33c5" />
    <add key="ClientSecret" value="xa9OtfgSaU7r7miWYJRsKWgEy9TEeQdTmjrwI1zJE8o="/>
    <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
    <add key="SPHost" value="https://candc365.sharepoint.com" />
    <add key="SupportTeamNotificationEmail" value="chris.obrien@contentandcode.com" />
    <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
    <add key="TenantAdminUrl" value="https://candc365-admin.sharepoint.com" />
</appSettings>
